<div class="md:container grid grid-cols-24 grid-flow-row mx-auto md:mt-3 bg-blue-300 rounded-md">
    <div class="col-span-24">
        <app-header></app-header>
    </div>
    <div class="col-span-24">
        <router-outlet></router-outlet>
    </div>
</div>
<h1 class="fixed left-0 bottom-0 text-black sm:text-pink-500 md:text-red-600 lg:text-green-600 xl:text-blue-600 2xl:text-orange-600 font-bold">x>SM-640 ise PINK, x>MD-768 ise RED, x>LG-1024 ise Green, x>XL-1280 ise BLUE, x>2XL-1536 ise ORANGE</h1>